.blue-gradient-light {
  background: #00d2ff;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00d2ff, #3a7bd5);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00d2ff, #3a7bd5);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.light-grey {
  background: #FCFCFC;
}

.black-text{
  color: #000;
}

.red-text{
  color: #DE5858;
}

.white{
  background: #fff;
}

.white-text{
  color: #fff !important;
}

.blue-lagoon {
  background-color: #039be5 !important;
  color: #fff !important;
}

.light-green {
  background: #5BE45D !important;
}

.light-green-text {
  color: #5BE45D !important;
}

.grey-dark {
  background-color: #404D65;
}

.amber {
  background: #ffab00;
}

.grey-light-text {
  color: #ddd;
}

.blue-grey-dark {
  background-color: #006e8c;
}

.blue-grey-dark-text {
  color: #006e8c;
}

.primary-blue {
  background: #4d91ff;
}

.primary-blue-text {
  color: #4d91ff;
}

.primary-cyan {
  background: #b3e5fc;
}

.primary-cyan-text {
  color: #b3e5fc;
}

.primary-light-blue {
  background: #f9fbfd !important;
}

.primary-light-blue-text {
  color: #f9fbfd;
}

.dark-blue {
  background: #12479b;
}

.dark-blue-text {
  color: #12479b;
}

.primary-blue-grey {
  background: #3d6889 !important;
}

.primary-blue-grey-text {
  color: #3d6889 !important;
}

.primary-green {
  background: #00D45C !important;
}

.primary-green-text {
  color: #00D45C !important;
}

.primary-dark {
  background: #21547b;
}

.primary-dark-text {
  color: #21547b;
}

.secondary-dark {
  background: #204b6c;
}

.secondary-dark-text {
  color: #204b6c !important;
}

.primary-black-text {
  color: #263238;
}

.primrary-black {
  background: #263238;
}