[type="checkbox"] + label:before, 
[type="checkbox"]:not(.filled-in) + label:after {
	width: 25px;
	margin-top: 0;
	height: 25px;
	border: 1px solid #ccc;
    /* padding-right: 8px; */
    border-radius: 50%;
    top: 0px;
    left: -3px;
}